name = "aesop"
defaultTargets = ["Aesop"]
testDriver = "AesopTest"
precompileModules = false # We would like to turn this on, but it breaks the Mathlib cache.
platformIndependent = true

[[require]]
name = "batteries"
git = "https://github.com/leanprover-community/batteries"
rev = "v4.24.0"

[[lean_lib]]
name = "Aesop"

[[lean_lib]]
name = "AesopTest"
globs = ["AesopTest.+"]
leanOptions = {linter.unusedVariables = false}
