name = "aesop"
defaultTargets = ["Aesop"]
testDriver = "AesopTest"
lintDriver = "batteries/runLinter"
lintDriverArgs = ["Aesop"]
precompileModules = false # We would like to turn this on, but it breaks the Mathlib cache.

[[require]]
name = "batteries"
git = "https://github.com/leanprover-community/batteries"
rev = "main"

[[lean_lib]]
name = "Aesop"

[[lean_lib]]
name = "AesopTest"
globs = ["AesopTest.+"]
leanOptions = {linter.unusedVariables = false}
